<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<%
  var title;
  if(is_home()){
      title = config.title + ' - ' + config.subtitle;
  }else if(is_archive()){
    title = 'Archives';
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }else{
      title = page.title;
  }
%>
<title><%= title %></title>
<%
 var keywords;
 if (page.keywords) {
  keywords = page.keywords;
 } else{
  keywords = config.keywords;
 }
%>
<meta name="keywords" content="<%= keywords %>">
<%
  var description;
  if (page.description) {
    description = page.description;
  } else {
    description = config.description;
  }
%>
<meta name="description " content="<%= description %>">
<% if (theme.favicon){ %>
<link rel="icon" href="<%- theme.favicon %>">
<% } %>
<%- css('css/style') %>
