<!DOCTYPE html>
<html>
  <head>
    <%- partial('_partial/header') %>
  </head>
  <body>
    <%- partial('_partial/nav') %>
    <div id="post">
      <div id="pjax">
        <%- body %>
        <% if (theme.donateEnable){ %>
          <div id="post__action">
              <a id="icon-heart" class="fontello" href="javascript:donate();"></a>
          </div>
        <% } %>
        <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
      </div>
      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">目录</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div>
    <button id="js-fullscreen">
      <span id="icon-arrow" class="fontello"></span>
    </button>

    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.pjax.js"></script>
    <script src="/js/nprogress.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    <% if (theme.highlightCode){ %>
      <link rel="stylesheet" href="/css/codeStyle/<%= theme.highlightStyle %>.css" />
      <script src="/js/highlight.pack.js"></script>
    <% } %>
    <script src="/js/script.js"></script>
    <% if (theme.donateEnable){ %>
      <script src="/layer/layer.js"></script>
      <script src="/layer/extend/layer.ext.js"></script>
    <% } %>
  </body>
</html>
